<p-dialog [(visible)]="dialogService.eventDialog" header="รอบซ้อมรับปริญญาบัตร" [modal]="true" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">

    <ng-template pTemplate="content">

        <div class="field-checkbox">
            <p-checkbox name="group" value="ซ้อมย่อยคณะ" [(ngModel)]="selectedEvent" inputId="e1"></p-checkbox>
            <label for="e1">ซ้อมย่อยคณะ</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group" value="ซ้อมย่อยรวมคณะ" [(ngModel)]="selectedEvent" inputId="e2"></p-checkbox>
            <label for="e2">ซ้อมย่อยรวมคณะ</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group" value="ซ้อมใหญ่" [(ngModel)]="selectedEvent" inputId="e3"></p-checkbox>
            <label for="e3">ซ้อมใหญ่</label>
        </div>
        <div class="field-checkbox">
            <p-checkbox name="group" value="static" [(ngModel)]="selectedEvent" inputId="static"></p-checkbox>
            <label for="static">กำหนดเอง</label>
        </div>

        <input *ngIf="selectedEvent.includes('static')" type="text" class="w-full" pInputText [(ngModel)]="static"> 
        

    </ng-template>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-plus" label="เพิ่มรอบซ้อม" (click)="newEvent()"></p-button>
    </ng-template>

</p-dialog>