<div class="container">
    <div class="grid" style="margin-top: 3rem;">

        <div class="grid-item">
            <p-card header="บัณฑิต">
                <p>470</p>
            </p-card>
        </div>
        
        <div class="grid-item">
            <p-card header="มีสิทธิ์เข้ารับ">
                <p style="color: #00cc00;">430</p>
            </p-card>
        </div>
        
        <div class="grid-item">
            <p-card header="ไม่มีสิทธิ์เข้ารับ">
                <p style="color: #FF0000;">40</p>
            </p-card>
        </div>
        
        <div class="grid-item">
            <p-card header="ตรวจสอบแล้ว">
                <p style="color: #00cc00;">200</p>
            </p-card>
        </div>
        
        <div class="grid-item">
            <p-card header="อัปโหลดเอกสาร">
                <p style="color: #2196F3;">213</p>
            </p-card>
        </div>
        
    </div>
</div>