<p-message *ngIf="!deviceStatus" severity="warn" text="ไม่ได้เชื่อมต่อเครื่องอ่านบัตร" styleClass="ml-2 w-full shadow-2"></p-message>

<div class="m-2">
    <p-fieldset legend="รายละเอียด">
        <div class="flex flex-column align-items-center">
            <h3>พิธีการเข้ารับพระราชทานปริญญาบัตร</h3>
            <p>มหาวิทยาลัยเทคโนโลยีราชมงคลธัญบุรี</p>
            <p>{{title}}</p>
            <img src="api/image/{{std.photo}}" alt="รูปบัณฑิต" height="200" (error)="imageService.defaultImage($event)">
            <p>รับปริญญา{{subtitle}}</p>
            <p>ชื่อ-สกุล {{std.prefixname}} {{std.name}} <span *ngIf="std.award" class="font-bold">(เหรียญ{{std.award}})</span>
            <p>รหัสนักศึกษา {{std.id}}</p>
            <p>สาขา {{std.faculty}}</p>
            <p>{{std.degree}}</p>
            <p *ngIf="std.honor">เกียรตินิยมอันดับ {{std.honor}}</p>
            <p>ลำดับรอบ {{std.row}} ลำดับในคณะ {{std.rowfaculty}}</p>
        </div>
    </p-fieldset>
</div>