<div class="flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
        <div class="text-center mb-5">
            <img src="assets/images/rmutt-logo-full.png" alt="Image" height="100" class="mb-3">
            <div class="text-900 text-3xl font-medium">ยินดีต้อนรับสู่</div>
            <div class="text-900 text-3xl font-medium mb-3">ระบบซ้อมรับปริญญาบัตร</div>
        </div>
    
        <p-message *ngIf="msg" severity="error" [text]="msg" styleClass="w-full"></p-message>
    
        <div (keyup.enter)="submit()">
            <div class="mb-3">
                <label for="master-password" class="block text-900 font-medium mb-2">Master Password</label>
                <p-password id="master-password" placeholder="Master Password" styleClass="w-full" inputStyleClass="w-full" [toggleMask]="true" [feedback]="false" [(ngModel)]="masterPassword" />
                <small *ngIf="submited && !masterPassword" class="text-red-500">กรุณากรอกรหัสผ่าน</small>
            </div>

            <button pButton pRipple label="เข้าสู่ระบบ" icon="pi pi-user" class="w-full mb-3" (click)="submit()"></button>
    
            <div class="text-right">
                <a class="font-medium no-underline text-blue-500 cursor-pointer" routerLink="/auth">สำหรับบัณฑิต</a>
            </div>
        </div>
    </div>
</div>