<i class="pi pi-{{icon}} show-menu" style="font-size: 2rem; color: #FFF;" (click)="showMenu()"></i>

<div id="menu" class="layout">
    <div class="menu {{activeMenu('admin')}}" routerLink="/admin">
        <p>หน้าแรก</p>
    </div>
    <div class="menu {{activeMenu('scan')}}" routerLink="scan">
        <p>สแกนบัตร</p>
    </div>
    <div class="menu {{activeMenu('view')}}" routerLink="view">
        <p>ดูรายชื่อบัณฑิต</p>
    </div>
    <div class="menu {{activeMenu('manage')}}" routerLink="manage">
        <p>จัดการข้อมูลบัณฑิต</p>
    </div>
    <div class="menu">
        <p>ออกจากระบบ</p>
    </div>
</div>