.layout {
    background-color: #F2F9FE;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 90vh;
}

.menu {
    cursor: pointer;
}

.menu p {
    font-size: 18px;
    margin-left: 2rem;
}

.menu:hover, .active {
    background-color: #D3ECFE;

    p {
        font-weight: bold;
    }
}

.show-menu {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 1.4rem;
    margin-left: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .layout {
        display: none;
    }
    .show-menu {
        display: inline;
    }
}